<LeafletMap @lat={{this.lat}} @lng={{this.lng}} @zoom={{this.zoom}} as |layers|>

  <layers.tile @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"/>

  <layers.marker-cluster as |cluster|>
    {{#each this.markers as |m|}}
      <cluster.marker @location={{m.location}} as |marker|>
        <marker.popup>
          <h3>{{m.title}}</h3>
          {{m.description}}
        </marker.popup>
      </cluster.marker>
    {{/each}}
  </layers.marker-cluster>

</LeafletMap>